{{page-title "Vestigingen"}}
<PageHeader class="au-o-box">

  <:title>Vestigingen</:title>
  <:subtitle>{{this.currentSession.group.name}}
    ({{this.currentSession.groupClassificationLabel}})</:subtitle>
  <:action>
    {{#if (is-feature-enabled "edit-feature")}}
      <AuLink
        @route="sites.new"
        @skin="button"
        @icon="plus"
        @iconAlignment="left"
      >
        Nieuwe vestiging toevoegen
      </AuLink>
    {{else}}
      <ReportWrongData />
    {{/if}}

  </:action>

</PageHeader>

<AuDataTable
  @content={{@model.allSites}}
  @noDataMessage="Geen vestigingen"
  as |t|
>
  <t.content as |c|>
    <c.header>
      <th class="au-c-data-table__header-title"></th>
      <th class="au-c-data-table__header-title">Locatie</th>
      <th class="au-c-data-table__header-title">Type vestiging</th>
      <th class="au-c-data-table__header-title">Primair telefoonnummer</th>
      <th class="au-c-data-table__header-title">Email</th>
      <th class="au-c-data-table__header-title">Laatste controle of aanpassing</th>
      <th>&nbsp;</th>
    </c.header>
    <c.body as |site|>
      <td class="primary-site-column">
        {{#if (eq site.id @model.primarySiteId)}}
          <AuIcon
            id="primary-site-icon"
            @icon="vote-star-filled"
            @size="large"
          />
        {{/if}}
      </td>
      <td>
        <AuLink @model={{site.id}} @route="sites.site.index">
          {{site.address.fullAddress}}
        </AuLink>
      </td>
      <td>
        <SiteTypeWithName @site={{site}} />
      </td>
      <td>
        {{#each site.contacts as |contact|}}
          {{#if (eq contact.type "Primary")}}
            {{tel-format contact.telephone}}
          {{/if}}
        {{/each}}
      </td>
      <td>
        {{#each site.contacts as |contact|}}
          {{#if (eq contact.type "Primary")}}
            {{contact.email}}<br />
          {{/if}}
        {{/each}}
      </td>
      <td class="customTableData">

        {{! Correctly using the let block with a helper }}
        {{#let
          (is-modified-longer-then-6-months site.modified)
          as |modifiedInfo|
        }}
          <AuPill @icon={{modifiedInfo.icon}} @skin={{modifiedInfo.skin}}>
            {{date-format site.modified}}
          </AuPill>
          {{#if (eq modifiedInfo.skin "warning")}}

            <div class="modifyButtons">
              <AuLink {{on "click" (fn this.updateSiteModifiedDate site.id)}}>
                Gegevens bevestigen
              </AuLink>
              <br />
              <AuLink @model={{site.id}} @route="sites.site.edit">
                Bewerken
              </AuLink>
            </div>
          {{/if}}
        {{/let}}
      </td>
    </c.body>
  </t.content>
</AuDataTable>