<div class="au-c-body-container au-c-body-container--scroll">
  <div class="au-o-box au-o-flow au-o-flow--large">
    <PageHeader>
      <:title>Voeg vestiging toe</:title>
      <:action>
        <AuButtonGroup class="au-c-button-group--align-right">
          <AuLink @route="sites.index" @skin="button-secondary">
            Annuleer
          </AuLink>
          <AuButton
            @loading={{this.createSite.isRunning}}
            @disabled={{this.createSite.isRunning}}
            @icon="add"
            @iconAlignment="left"
            type="submit"
            form="new-vestiging-form"
          >
            Voeg toe
          </AuButton>
        </AuButtonGroup>
      </:action>
    </PageHeader>
    <form id="new-vestiging-form" {{on "submit" this.createSite}}>
      <div class="au-o-flow au-o-flow--large">
        <EditCard>
          <:title>Kerngegevens</:title>
          <:card as |Card|>
            <Card.Columns>
              <:left as |Item|>
                <Item
                  @labelFor="site-type"
                  @required={{true}}
                  @errorMessage={{this.model.site.error.siteType.validation}}
                >
                  <:label>Type vestiging</:label>
                  <:content as |hasError|>
                    <SiteTypeSelect
                      @selected={{this.model.site.siteType}}
                      @onChange={{fn (mut this.model.site.siteType)}}
                      @administrativeUnitClassification={{this.model.site.siteType.id}}
                      @id="site-type"
                      @error={{hasError}}
                    />
                  </:content>
                </Item>
              </:left>
              <:right as |Item|>
                <Item>
                  <:label>Primair correspondentieadres</:label>
                  <:content>
                    <ul class="au-c-list-inline">
                      <li class="au-c-list-inline__item">
                        <AuControlRadio
                          @label="Ja"
                          @name="is-primary-site"
                          @value={{this.isPrimarySite}}
                          @identifier="site-true"
                          @onChange={{fn (mut this.isPrimarySite) true}}
                          checked={{this.isPrimarySite}}
                        />
                      </li>
                      <li class="au-c-list-inline__item">
                        <AuControlRadio
                          @label="Nee"
                          @name="is-primary-site"
                          @value={{this.isPrimarySite}}
                          @identifier="site-false"
                          @onChange={{fn (mut this.isPrimarySite) false}}
                          checked={{not this.isPrimarySite}}
                        />
                      </li>
                    </ul>
                  </:content>
                </Item>
              </:right>
            </Card.Columns>
          </:card>
        </EditCard>

        <ContactDataEditCard
          @address={{this.model.address}}
          @isAddressSearchEnabledInitially={{false}}
          @primaryContact={{this.model.primaryContact}}
          @secondaryContact={{this.model.secondaryContact}}
        />
      </div>
    </form>
  </div>
</div>