{{breadcrumb "Nieuw"}}
<div class="au-c-body-container au-c-body-container--scroll">
  <div class="au-o-box au-o-flow au-o-flow--large">

    <PageHeader>
      <:title>Voeg vestiging toe</:title>
      <:action>
        <AuButtonGroup class="au-c-button-group--align-right">
          <AuButton
            @loading={{this.isLoading}}
            @disabled={{this.isLoading}}
            @skin="secondary"
            type="cancel"
            form="new-vestiging-form"
          >
            Annuleer
          </AuButton>
          <AuButton
            @loading={{this.isLoading}}
            @disabled={{this.isLoading}}
            @icon="add"
            @iconAlignment="left"
            type="submit"
            form="new-vestiging-form"
          >
            Voeg toe
          </AuButton>
        </AuButtonGroup>
      </:action>
    </PageHeader>

    <form
      id="new-vestiging-form"
      {{on "submit" (perform this.saveTask)}}
      {{on "cancel" (perform this.cancelTask)}}
    >
      <div class="au-o-flow au-o-flow--large">
        <EditCard>
          <:title>Kerngegevens</:title>
          <:card as |Card|>
            <Card.Columns>
              <:left as |Item|>
                <Item
                  @labelFor="site-type"
                  @required={{true}}
                  @errorMessage={{this.model.site.error.siteType.validation}}
                >
                  <:label>Type vestiging</:label>
                  <:content as |hasError|>
                    <SiteTypeSelect
                      @selected={{@model.site.siteType}}
                      @administrativeUnitClassification={{this.model.adminUnit.classification}}
                      @onChange={{fn (mut @model.site.siteType)}}
                      @id="site-type"
                      @error={{hasError}}
                    />
                  </:content>
                </Item>
              </:left>
              <:right as |Item|>
                <Item>
                  <:label>Primair correspondentieadres</:label>
                  <:content>
                    <AuRadioGroup
                      @name="is-primary-site"
                      @alignment="inline"
                      @onChange={{fn (mut this.isPrimarySite)}}
                      @selected={{this.isPrimarySite}}
                      as |Group|
                    >
                      <Group.Radio @value={{true}}>Ja</Group.Radio>
                      <Group.Radio @value={{false}}>Nee</Group.Radio>
                    </AuRadioGroup>

                  </:content>
                </Item>
              </:right>
            </Card.Columns>
          </:card>
        </EditCard>

        <ContactDataEditCard
          @address={{@model.address}}
          @isAddressSearchEnabledInitially={{if
            (or (not @model.address.id) @model.address.addressRegisterUri)
            true
            false
          }}
          @primaryContact={{@model.primaryContact}}
          @secondaryContact={{@model.secondaryContact}}
        >
          <:title>Contactgegevens</:title>

        </ContactDataEditCard>
      </div>
    </form>
  </div>
</div>