{{#let (if @itemComponent @itemComponent (component "au-address-search/default-item")) as |Item|}}
<div class={{this.classes}} ...attributes>
  {{#if this.apiError}}
  <Item
    @labelFor="{{@id}}-api-malfunction-panel"
  >
    <:label>Adres ingave</:label>
    <:content>
        <AuCard
          @size="small"
          @id="{{@id}}-api-malfunction-panel"
          @flex={{true}}
          class="address-search-api-error-card"
        as |c|>
          <c.header
            @badgeIcon="alert-triangle"
            @badgeSkin="error"
            @badgeSize="small"
          >
            <AuHeading @level="2" @skin="4" class="address-search-api-error-text">Adres API fout</AuHeading>
          </c.header>
          <c.content>
            <AuHelpText class="address-search-api-error-text">Er is een fout opgetreden bij het ophalen van adresgegevens. Ververs de pagina en probeer opnieuw. Indien het probleem aanhoud neem dan contact op met <AuLinkExternal href={{this.apiErrorMailContent}}>onze technische ploeg</AuLinkExternal>.</AuHelpText>
          </c.content>
        </AuCard>
    </:content>
  </Item>
  {{/if}}
  {{#unless this.apiError}}
  <Item
    @labelFor="{{@id}}-mode-switch"
  >
    <:label>Adres ingave</:label>
    <:content>
        <div class="au-u-margin-top-tiny">Manueel&nbsp;<AuToggleSwitch
          @checked={{this.isAutomatic}}
          @onChange={{this.handleModeSwitchChange}}
          @identifier="{{@id}}-mode-switch"
        />&nbsp;Auto&nbsp;
        {{#if this.isAutomatic}}
          {{#if this.addressOk}}
            <AuPill
              @skin="success"
              @size="small"
              @icon="check"
            >Adres compleet en geverifieerd</AuPill>
          {{else}}
            <AuPill
              @skin="error"
              @size="small"
              @icon="x"
            >Adres niet compleet</AuPill>
          {{/if}}
        {{else}}
          {{#if this.addressOk}}
            <AuPill
              @skin="warning"
              @size="small"
              @icon="alert-triangle"
            >Adres compleet, niet geverifieerd</AuPill>
          {{else}}
            <AuPill
              @skin="error"
              @size="small"
              @icon="x"
            >Adres niet compleet</AuPill>
          {{/if}}
        {{/if}}
        </div>
    </:content>
  </Item>
  {{#if this.isAutomatic}}
  <Item
    @labelFor="{{@id}}-fuzzy-search"
  >
    <:label>
      Zoek automatisch
    </:label>
    <:content>
        <PowerSelect
          @disabled={{this.isLoading}}
          @options={{this.fuzzySearchOptions}}
          @onChange={{this.handleFuzzySearchChange}}
          @selected={{this.selectedLocation}}
          @search={{this.handleFuzzySearch}}
          @allowClear={{true}}
          @searchEnabled={{true}}
          @loadingMessage="Bezig met zoeken"
          @noMatchesMessage="Geen adressen gevonden"
          @searchMessage="Zoek naar een adres in Vlaanderen (e.g. VoorbeeldStraat 30)"
          @placeholder="Zoek adres"
          @triggerId="{{@id}}-fuzzy-search"
          as |locationInFlanders|
        >
          {{locationInFlanders.street}} {{locationInFlanders.housenumber}}, {{locationInFlanders.postalCode}} {{locationInFlanders.municipality}}
        </PowerSelect>
    </:content>
  </Item>
  <Item
    @labelFor="{{@id}}-box-number-select"
  >
    <:label>
      Geverifieerde adressen
    </:label>
    <:content>
        <PowerSelect
          @disabled={{this.or this.isLoading (not this.selectedLocation)}}
          @options={{this.addressSuggestionOptions}}
          @onChange={{this.handleAddressSuggestionChange}}
          @selected={{this.selectedAddressSuggestion}}
          @allowClear={{false}}
          @searchEnabled={{false}}
          @loadingMessage="Bezig met zoeken"
          @noMatchesMessage="Geen adressen gevonden"
          @placeholder="Selecteer busnummer of laat blank"
          @triggerId="{{@id}}-box-number-select"
          as |addressSuggestion|
        >
          {{this.printAddress addressSuggestion}}
        </PowerSelect>
    </:content>
  </Item>
  {{/if}}
  {{#unless this.isAutomatic}}
  <Item
    @labelFor="{{@id}}-country-select"
    @required={{true}}
  >
    <:label>
      Land
    </:label>
    <:content>
        <div class="address-search-flex-container ">
          <div class="address-search-flex-child-stretch">
            <PowerSelect
              @disabled={{not this.fetchCountryTask.last}}
              @options={{this.countryOptions}}
              @onChange={{this.handleCountryChange}}
              @selected={{this.selectedAddress.country}}
              @allowClear={{false}}
              @searchEnabled={{true}}
              @loadingMessage="Bezig met ophalen van landen"
              @noMatchesMessage="Geen land gevonden"
              @placeholder="Selecteer een land"
              @triggerId="{{@id}}-country-select"
              as |country|
            >
              {{country}}
            </PowerSelect>
          </div>
          <div class="address-search-flex-child-nostretch au-u-margin-top-small">
            <AuCheckbox
              @id="{{@id}}-free-input-checkbox"
              @checked={{this.freeInputDisplayValue}}
              @onChange={{this.handleFreeInputChecked}}
              @disabled={{this.freeInputDisabled}}
            >
              Vrije ingave
            </AuCheckbox>
          </div>
        </div>
    </:content>
  </Item>
  <Item
    @labelFor="{{@id}}-street-input"
    @required={{true}}
  >
    <:label>
      Straat
    </:label>
    <:content>
        <AuInput
          id="{{@id}}-street-input"
          value={{this.selectedAddress.street}}
          {{on "input" this.updateStreet}}
          @width="block"
        />
    </:content>
  </Item>
  <Item
    @labelFor="{{@id}}-housenumber-input"
    @required={{true}}
  >
    <:label>
      Huisnummer
    </:label>
    <:content>
        <AuInput
          id="{{@id}}-housenumber-input"
          value={{this.selectedAddress.houseNumber}}
          {{on "input" this.updateHouseNumber}}
          @width="block"
        />
    </:content>
  </Item>
  <Item
    @labelFor="{{@id}}-boxnumber-input"
    @required={{true}}
  >
    <:label>
      Busnummer
    </:label>
    <:content>
      <div class="address-search-flex-container">
        <div class="au-u-margin-top-tiny address-search-flex-child-nostretch">
          <AuRadioGroup
            @selected={{this.manualBoxnumberSpecified}}
            @onChange={{this.handleBoxnumberSpecifiedChange}}
            @alignment="inline"
            as |Group|
          >
              <Group.Radio @value="no">Geen</Group.Radio>
              <Group.Radio @value="yes">Expliciet</Group.Radio>
          </AuRadioGroup>
        </div>
        <div class="address-search-flex-child-stretch">
          <AuInput
            id="{{@id}}-boxnumber-input"
            value={{this.selectedAddress.boxNumber}}
            {{on "input" this.updateBoxNumber}}
            @disabled={{eq this.manualBoxnumberSpecified "no"}}
            @width="block"
          />
        </div>
      </div>
    </:content>
  </Item>
  {{#if this.showBelgiumManualControls}}
  <AuAddressSearch::ManualControlsBelgium
    @itemComponent={{Item}}
    @id={{@id}}
    @onChange={{this.handleChangeManualControlsBelgium}}
    @address={{@address}}
    @onApiError={{fn (mut this.apiError)}}
  />
  {{else}}
  <Item
    @labelFor="{{@id}}-municipality-input"
    @required={{true}}
  >
    <:label>
      Gemeente
    </:label>
    <:content>
        <AuInput
          id="{{@id}}-municipality-input"
          value={{this.selectedAddress.municipality}}
          {{on "input" this.updateMunicipality}}
          @width="block"
        />
    </:content>
  </Item>
  <Item
    @labelFor="{{@id}}-postalcode-input"
    @required={{true}}
  >
    <:label>
      Postcode
    </:label>
    <:content>
        <AuInput
          id="{{@id}}-postalcode-input"
          value={{this.selectedAddress.postalCode}}
          {{on "input" this.updatePostalCode}}
          @width="block"
        />
    </:content>
  </Item>
    <Item
    @labelFor="{{@id}}-postalcode-input"
    @required={{true}}
  >
    <:label>
      Provicie
    </:label>
    <:content>
        <AuInput
          id="{{@id}}-province-input"
          value={{this.selectedAddress.province}}
          {{on "input" this.updateProvince}}
          @width="block"
        />
    </:content>
  </Item>
  {{/if}}
  {{/unless}}
  {{/unless}}
</div>
{{#if this.extraMessage}}
<AuHelpText @skin="primary" @error={{@errorMessage}} @warning={{unless @errorMessage @warningMessage}}>{{this.extraMessage}}</AuHelpText>
{{/if}}
{{/let}}