<EditCard @containsRequiredFields={{true}}>
  <:title>{{yield to="title"}}</:title>
  <:card as |Card|>
    <Card.Columns>
      <:left as |Item|>
        <Item
          @labelFor="name"
          @errorMessage={{@adminUnit.error.name.validation}}
        >
          <:label>Naam</:label>
          <:content as |hasError|>
            <TrimInput
              @width="block"
              @id="name"
              @error={{hasError}}
              @value={{@adminUnit.name}}
              @onUpdate={{fn (mut @adminUnit.name)}}
            ></TrimInput>
          </:content>
        </Item>
        <Item
          @labelFor="adminType"
          @errorMessage={{@adminUnit.error.classification}}
        >
          <:label>Type bestuur</:label>
          <:content as |hasError|>
            <div class={{if hasError "ember-power-select--error"}}>
              <PowerSelect
                @allowClear={{false}}
                @options={{this.selectAdminTypeOptions}}
                @renderInPlace={{false}}
                @onChange={{fn (mut @adminUnit.classification.label)}}
                @searchEnabled={{false}}
                @selected={{@adminUnit.classification.label}}
                @error={{hasError}}
                id="adminType" as |adminType|>
                  {{adminType}}
              </PowerSelect>
            </div>
          </:content>
        </Item>
        <Item
          @labelFor="region"
          {{!-- @errorMessage={{@coreData.error.region.validation}} --}}
        >
          <:label>Regio</:label>
          <:content as |hasError|>
            <div class={{if hasError "ember-power-select--error"}}>
              {{!-- <PowerSelect
                  @allowClear={{false}}
                  @options={{this.selectRegionOptions}}
                  @renderInPlace={{false}}
                  @onChange={{fn (mut @coreData.region)}}
                  @searchEnabled={{false}}
                  @selected={{@coreData.region}}
                  @error={{hasError}}
                  id="region" as |region|>
                  {{region}}
              </PowerSelect> --}}
              TODO when model data is expanded
            </div>
          </:content>
        </Item>
      </:left>
      <:right as |Item|>
        <Item
          @labelFor="status"
          @errorMessage={{@adminUnit.error.organizationStatus.validation}}
        >
          <:label>Status</:label>
          <:content as |hasError|>
            <div class={{if hasError "ember-power-select--error"}}>
              <PowerSelect
                  @allowClear={{false}}
                  @options={{this.selectStatusOptions}}
                  @renderInPlace={{false}}
                  @onChange={{fn (mut @adminUnit.organizationStatus.label)}}
                  @searchEnabled={{false}}
                  @selected={{@adminUnit.organizationStatus.label}}
                  @error={{hasError}}
                  id="status" as |status|>
                    {{status}}
              </PowerSelect>
            </div>
          </:content>
        </Item>
        <Item
          @labelFor="kbo"
          @errorMessage={{@kbo.error.localId.validation}}
        >
          <:label>KBO nummer</:label>
          <:content as |hasError|>
            <TrimInput
              @width="block"
              @id="kbo"
              @error={{hasError}}
              @value={{@kbo.localId}}
              @onUpdate={{fn (mut @kbo.localId)}}
              @mask="9999.999.999"
              @maskPlaceholder="____.___.___"
              @disabled={{not @kbo}}
            ></TrimInput>
          </:content>
        </Item>
        <Item
          @labelFor="nis"
          @errorMessage={{@nis.error.localId.validation}}
        >
          <:label>NIS code</:label>
          <:content as |hasError|>
            <TrimInput
              @width="block"
              @id="nis"
              @error={{hasError}}
              @value={{@nis.localId}}
              @onUpdate={{fn (mut @nis.localId)}}
              @disabled={{not @nis}}
            ></TrimInput>
          </:content>
        </Item>
        <Item
          @labelFor="ovo"
          @errorMessage={{@ovo.error.localId.validation}}
        >
          <:label>OVO nummer</:label>
          <:content as |hasError|>
            <TrimInput
              @width="block"
              @id="ovo"
              @error={{hasError}}
              @value={{@ovo.localId}}
              @onUpdate={{fn (mut @ovo.localId)}}
              @disabled={{not @ovo}}
            ></TrimInput>
          </:content>
        </Item>
      </:right>
    </Card.Columns>
  </:card>
</EditCard>