<AuInput
  @disabled={{@disabled}}
  @error={{@error}}
  @warning={{@warning}}  {{!-- Pass the warning to AuInput --}}
  autocomplete={{@autocomplete}}
  @width={{@width}}
  @id={{@id}}
  value={{@value}}
  @mask={{@mask}}
  @maskPlaceholder={{@maskPlaceholder}}
  @maskOptions={{@maskOptions}}
  {{on "focusout" (perform this.trimInput)}}
  ...attributes
/>
{{#if @warning}}
  <div class="warning-message">{{@warningMessage}}</div>
{{/if}}
