{{breadcrumb "Bewerk"}}
<div class="au-c-body-container au-c-body-container--scroll">
  <div class="au-o-box au-o-flow au-o-flow--large">
    <PageHeader>
      <:title>Bewerk kerngegevens</:title>
      <:subtitle>{{this.currentSession.fullName}} ({{this.currentSession.groupClassificationLabel}})</:subtitle>
      <:action>
        {{! Secured area }}
        <div
          class="au-u-flex au-u-flex--column au-u-flex--nowrap au-u-flex--flex-end"
        >
          <AuButtonGroup>
            <AuButton
              @skin="secondary"
              form="core-data-edit"
              {{on "click" this.cancel}}
            >Annuleer</AuButton>
            <AuButton
              @skin="primary"
              @loading={{this.save.isRunning}}
              @disabled={{this.save.isRunning}}
              form="core-data-edit"
              type="submit"
            >
              Opslaan
            </AuButton>
          </AuButtonGroup>
          <div class="au-u-flex au-u-flex--nowrap">
            <ReportWrongData/>
          </div>
        </div>
        {{! End of secured area }}
      </:action>
    </PageHeader>
    <p class="au-u-para">
      De contactgegevens zijn geässocieerd met de primaire vestiging van deze bestuurseenheid.
    </p>
    <form
      id="core-data-edit"
      aria-label="edit-core-info-form"
      {{on "submit" (perform this.save)}}
    >
      <CoreDataEditCard
        @adminUnit={{@model.adminUnit}}
        @kbo={{@model.kbo}}
        @ovo={{@model.ovo}}
        @nis={{@model.nis}}
        @id="corecoredataedit"
      >
        <:title>Bestuurseenheid</:title>
      </CoreDataEditCard>
      <ContactDataEditCard
        @isAddressSearchEnabledInitially={{true}}
        @address={{@model.address}}
        @primaryContact={{@model.primaryContact}}
        @secondaryContact={{@model.secondaryContact}}
        @id="corecontactdataedit"
      >
        <:title>Primaire contactgegevens</:title>

      </ContactDataEditCard>
    </form>
  </div>
</div>