<div class="au-c-body-container au-c-body-container--scroll">
  <div class="au-o-box au-o-flow au-o-flow--large">
    <PageHeader>
      <:title>Kerngegevens</:title>
      <:subtitle>{{this.currentSession.group.name}}
        ({{this.currentSession.groupClassificationLabel}})</:subtitle>
      <:action>
        <ReportWrongData />
      </:action>
    </PageHeader>
    <DataCard>
      <:title>Bestuurseenheid</:title>
      <:card as |Card|>
        <Card.Columns>
          <:left as |Item|>
            <Item>
              <:label>Naam</:label>
              <:content>{{@model.adminUnit.name}}</:content>
            </Item>
            <Item>
              <:label>Type bestuur</:label>
              <:content>{{@model.adminUnit.classification.label}}</:content>
            </Item>

            {{#if @model.isMunicipality}}
              <Item>
                <:label>Stadstitel</:label>
                <:content>
                  {{#if @model.isCity}}
                    Ja
                  {{else}}
                    Nee
                  {{/if}}
                </:content>
              </Item>
            {{/if}}
            {{#if
              (and @model.adminUnit.scope.locatedWithin @model.isMunicipality)
            }}
              <Item>
                <:label>Regio</:label>
                <:content>
                  {{@model.adminUnit.scope.locatedWithin.label}}
                </:content>
              </Item>
            {{/if}}

            {{#if @model.isIgs}}
              <Item>
                <:label>Regio</:label>
                <:content>
                  {{@model.region}}
                </:content>
              </Item>
              <Item>
                <:label>Geplande einddatum</:label>
                <:content>
                  {{date-format @model.adminUnit.expectedEndDate}}
                  {{#if this.expiredExpectedEndDate}}
                    <AuPill @skin="error">De geplande einddatum is overschreden</AuPill>
                  {{/if}}
                </:content>
              </Item>
              <Item>
                <:label>Doel</:label>
                <:content>
                  {{{@model.adminUnit.purpose}}}
                </:content>
              </Item>
            {{/if}}
          </:left>
          <:right as |Item|>
            <Item>
              <:label>Status</:label>
              <:content>
                <OrganizationStatus
                  @label={{@model.organizationStatus.label}}
                  @id={{@model.organizationStatus.id}}
                />
              </:content>
            </Item>
            {{#if @model.resultedFrom}}
              <Item>
                <:content>
                  <AuHelpText @skin="tertiary" class="au-u-margin-top-none">
                    Gewijzigd op
                    {{date-format @model.resultedFrom.firstObject.date}}
                  </AuHelpText>
                </:content>
              </Item>
            {{/if}}
            {{#if @model.kbo}}
              <Item>
                <:label>KBO nummer</:label>
                <:content>
                  {{#if @model.kbo.localId}}
                    {{kbo-format @model.kbo.localId}}
                  {{else}}
                    {{#if @model.isDistrict}}
                      Zie KBO-nummer gemeente
                    {{/if}}
                  {{/if}}
                </:content>
              </Item>
            {{/if}}
            {{#unless @model.kbo}}
              {{#if @model.isDistrict}}
                <Item>
                  <:label>KBO nummer</:label>
                  <:content>
                      Zie KBO-nummer gemeente
                  </:content>
                </Item>
              {{/if}}
            {{/unless}}
            {{#unless @model.isAPB}}
              <Item>
                <:label>OVO nummer</:label>
                <:content>
                  {{@model.ovo.localId}}
                </:content>
              </Item>
            {{/unless}}
            {{#if @model.nis}}
              <Item>
                <:label>NIS nummer</:label>
                <:content>
                  {{@model.adminUnit.scope.exactMatch.notation}}
                  {{! data missing }}
                </:content>
              </Item>
            {{/if}}
            {{#if @model.sharepoint}}
              <Item>
                <:label>Sharepoint referentie
                </:label>
                <:content>

                  {{@model.sharepoint.localId}}
                </:content>
              </Item>
            {{/if}}
            {{#if @model.isMunicipality}}
              <Item>
                <:label>NIS </:label>
                <:content>
                  {{@model.nis.localId}}
                </:content>
              </Item>
            {{/if}}
            {{#if @model.isOCMW}}
              <Item>
                <:label>NIS </:label>
                <:content>
                  {{@model.nis.localId}}
                </:content>
              </Item>
            {{/if}}
            {{#if @model.isProvince}}
              <Item>
                <:label>NIS</:label>
                <:content>
                  {{@model.nis.localId}}
                </:content>
              </Item>
            {{/if}}
          </:right>
        </Card.Columns>
      </:card>
    </DataCard>

  </div>
</div>