<div class="au-c-body-container au-c-body-container--scroll">
  <div class="au-o-box au-o-flow au-o-flow--large">
    <PageHeader>
      <:title>Kerngegevens</:title>
      <:subtitle>{{this.currentSession.fullName}}
        ({{this.currentSession.groupClassificationLabel}})</:subtitle>
      <:action>
        <ReportWrongData />
      </:action>
    </PageHeader>
    <DataCard>
      <:title>Bestuurseenheid</:title>
      <:card as |Card|>
        <Card.Columns>
          <:left as |Item|>
            <Item>
              <:label>Naam</:label>
              <:content>{{@model.adminUnit.name}}</:content>
            </Item>
            <Item>
              <:label>Type bestuur</:label>
              <:content>{{@model.classification.label}}</:content>
            </Item>
            {{#if this.isMunicipality}}
              <Item>
                <:label>Stadstitel</:label>
                <:content>{{if @model.adminUnit.isCity "Ja" "Nee"}}</:content>
              </Item>
            {{/if}}
            {{#if @model.region}}
              <Item>
                <:label>Regio</:label>
                <:content>
                  {{@model.region}}
                </:content>
              </Item>
            {{/if}}
              <Item>
                <:label>Verwachte einddatum</:label>
                <:content>
                  {{@model.adminUnit.expectedEndDate}}
                </:content>
              </Item>
            <Item>
              <:label>Doel</:label>
              <:content>

              </:content>
            </Item>
          </:left>
          <:right as |Item|>
            <Item>
              <:label>Status</:label>
              <:content>
                <OrganizationStatus
                  @label={{@model.organizationStatus.label}}
                />
              </:content>
            </Item>
            {{#if @model.resultedFrom}}
              <Item>
                <:content>
                  <AuHelpText @skin="tertiary" class="au-u-margin-top-none">
                    Gewijzigd op
                    {{date-format @model.resultedFrom.firstObject.date}}
                  </AuHelpText>
                </:content>
              </Item>
            {{/if}}
            {{#if this.kboIdentifier.structuredIdentifier.localId}}
              <Item>
                <:label>{{this.kboIdentifier.idName}}</:label>
                <:content>
                  {{kbo-format this.kboIdentifier.structuredIdentifier.localId}}
                </:content>
              </Item>
            {{/if}}
            {{#if this.sharepointIdentifier.structuredIdentifier.localId}}
              <Item>
                <:label>{{this.sharepointIdentifier.idName}}</:label>
                <:content>
                  <AuLinkExternal
                    href="{{this.sharePointLinkBase}}{{this.sharepointIdentifier.structuredIdentifier.localId}}"
                  >
                    {{this.sharepointIdentifier.structuredIdentifier.localId}}
                    (externe link)
                  </AuLinkExternal>
                </:content>
              </Item>
            {{/if}}
            {{#if
              (and
                @model.adminUnit.scope.exactMatch
                (or this.isMunicipality this.isProvince)
              )
            }}
              <Item>
                <:label>NIS</:label>
                <:content>
                  {{@model.adminUnit.scope.exactMatch.notation}}
                </:content>
              </Item>
            {{/if}}
            {{#if this.ovoIdentifier.structuredIdentifier.localId}}
              <Item>
                <:label>{{this.ovoIdentifier.idName}}</:label>
                <:content>
                  {{this.ovoIdentifier.structuredIdentifier.localId}}
                </:content>
              </Item>
            {{/if}}
          </:right>
        </Card.Columns>
      </:card>
    </DataCard>

  </div>
</div>