<div class="au-c-body-container au-c-body-container--scroll">
  <div class="au-o-box au-o-flow au-o-flow--large">
    <PageHeader>
      <:title>Kerngegevens</:title>
      <:subtitle>{{this.currentSession.fullName}}
        ({{this.currentSession.groupClassificationLabel}})</:subtitle>
      <:action>
        {{! Secured area }}
        <AuLink
          @route="core-data.admin-unit.edit"
          @skin="button-secondary"
          @icon="pencil"
          @iconAlignment="left"
          {{!No model required, core data screens get their admin unit from the current session}}
        >
          Bewerk
        </AuLink>
        {{! End of secured area }}
      </:action>
    </PageHeader>
    <DataCard>
      <:title>Bestuurseenheid</:title>
      <:card as |Card|>
        <Card.Columns>
          <:left as |Item|>
            <Item>
              <:label>Naam</:label>
              <:content>{{@model.adminUnit.name}}</:content>
            </Item>
            <Item>
              <:label>Type bestuur</:label>
              <:content
              >{{@model.adminUnit.classification.label}}</:content>
            </Item>
            <Item>
              <:label>Stadstitel</:label>
              <:content>{{if @model.adminUnit.isCity "Ja" "Nee"}}</:content>
            </Item>
            <Item>
              <:label>Regio</:label>
              <:content>
                {{if @model.region @model.region "Niet geässocieerd met een regio"}}
              </:content>
            </Item>
          </:left>
          <:right as |Item|>
            <Item>
              <:label>Status</:label>
              <:content>
                <OrganizationStatus
                  @id="Derp"
                  @label={{@model.organizationStatus.label}}
                />
              </:content>
            </Item>
            <Item>
              <:label>KBO nummer</:label>
              <:content>{{if
                  @model.kbo
                  (kboFormat @model.kbo.localId)
                  "Niet ingegesteld"
                }}</:content>
            </Item>
            <Item>
              <:label>NIS code</:label>
              <:content>{{if
                  @model.nis
                  @model.nis.localId
                  "Niet ingegesteld"
                }}</:content>
            </Item>
            <Item>
              <:label>OVO-nummer</:label>
              <:content>{{if
                  @model.ovo
                  @model.ovo.localId
                  "Niet ingegesteld"
                }}</:content>
            </Item>
          </:right>
        </Card.Columns>
      </:card>
    </DataCard>

    <Site::ContactDataCard
      @address={{@model.address}}
      @primaryContact={{@model.primaryContact}}
      @secondaryContact={{@model.secondaryContact}}
    >
      <:title>
        Primaire contactgegevens
      </:title>
    </Site::ContactDataCard>

  </div>
</div>