{{breadcrumb
  this.model.site.address.fullAddress
  route="sites.site.index"
  model=(params-for "sites.site" param="id")
}}
{{breadcrumb "Bewerk"}}
<div class="au-c-body-container au-c-body-container--scroll">
  <div class="au-o-box au-o-flow au-o-flow--large">

    <PageHeader>
      <:title>Bewerk vestiging</:title>
      <:subtitle>
        {{this.model.site.address.fullAddress}}
        {{this.model.administrativeUnit.name}}
      </:subtitle>
      <:action>
        {{! Secured area }}

        <div
          class="au-u-flex au-u-flex--column au-u-flex--nowrap au-u-flex--flex-end"
        >
          <AuButtonGroup>
            <AuButton
              @loading={{this.isLoading}}
              @loadingMessage="Annuleren"
              @disabled={{this.isLoading}}
              @skin="secondary"
              form="edit-site-form"
              {{on "click" this.handleCancel}}
            >
              Annuleer
            </AuButton>
            <AuButton
              @loading={{this.isLoading}}
              @disabled={{this.isLoading}}
              @skin="primary"
              type="submit"
              form="edit-site-form"
            >Opslaan</AuButton>
          </AuButtonGroup>
          {{#if this.hasError}}
            <Error::Save @showSaveError={{this.hasError}} />
          {{else if this.hasWarning}}
            <Error::Warning @showSaveWarning={{this.hasWarning}} @warningText="Kijk na of de gegevens bij de
               waarschuwingsmelding(en) juist zijn ingevuld. Indien de gegevens correct
               zijn, klik nogmaals op ‘Opslaan’." />

          {{/if}}
        </div>
        {{! End of secured area }}
      </:action>
    </PageHeader>

    {{! Kerngegevens }}
    <form
      id="edit-site-form"
      aria-label="Edit site"
      {{on "submit" this.handleSubmit}}
    >
      <div class="au-o-flow au-o-flow--large">
        <EditCard>
          <:title>Kerngegevens</:title>
          <:card as |Card|>
            <Card.Columns>
              <:left as |Item|>
                <Item
                  @labelFor="site-type"
                  @required={{true}}
                  @errorMessage={{this.validationErrors.siteType}}
                >
                  <:label>Type vestiging</:label>
                  <:content as |hasError|>
                    <SiteTypeSelect
                      @selected={{@model.site.siteType}}
                      @administrativeUnitClassification={{this.model.adminUnit.classification}}
                      @onChange={{fn (mut @model.site.siteType)}}
                      @id="site-type"
                      @error={{hasError}}
                      @clearValidationError={{this.clearValidationError}}
                    />
                  </:content>
                </Item>
                {{#if @model.site.isOtherSite}}
                  <Item
                    @labelFor="site-type-name"
                  >
                    <:label>Name</:label>
                    <:content>
                     <AuInput
                      @selected={{@model.site.siteTypeName}}
                      {{on "input" this.setSiteTypeName}}
                      value={{@model.site.siteTypeName}}
                      @width="block"
                      maxlength="50"
                     />
                    </:content>
                  </Item>
                {{/if}}
              </:left>
              <:right as |Item|>
                <Item @errorMessage={{this.isNoPrimarySiteErrorMessage}}>
                  <:label>Primair correspondentieadres</:label>
                  <:content>
                    <AuRadioGroup
                      @name="is-primary-site"
                      @alignment="inline"
                      @disabled={{this.currentIsPrimary}}
                      @onChange={{fn (mut this.selectedPrimaryStatus)}}
                      @selected={{this.currentIsPrimary}}
                      as |Group|
                    >
                      <Group.Radio @value={{true}}>Ja</Group.Radio>
                      <Group.Radio @value={{false}}>Neen</Group.Radio>
                    </AuRadioGroup>
                  </:content>
                </Item>
              </:right>
            </Card.Columns>
          </:card>
        </EditCard>

        {{! Contactgegevens }}

        <ContactDataEditCard
          @address={{this.addressSearchAddress}}
          @isAddressSearchEnabledInitially={{if
            (or (not @model.address.id) @model.address.addressRegisterUri)
            true
            false
          }}
          @primaryContact={{@model.primaryContact}}
          @secondaryContact={{@model.secondaryContact}}
          @errorMessage={{this.validationErrors}}
          @warningMessage={{this.validationWarnings}}
          @clearValidationError={{this.clearValidationError}}
          @onChangeAddress={{this.handleChangeAddress}}
        >
          <:title>Contactgegevens</:title>

        </ContactDataEditCard>
      </div>
    </form>
  </div>
</div>