{{page-title "Vestigingen"}}
<PageHeader class="au-o-box">
  <:title>Vestigingen</:title>
  <:subtitle
  >{{this.currentSession.fullName}}({{this.currentSession.groupClassificationLabel}})</:subtitle>
</PageHeader>

<AuDataTable
  @content={{@model.sites}}
  @noDataMessage="Geen vestigingen"
  as |t|
>
  <t.content as |c|>
    <c.header>
      <th class="au-c-data-table__header-title">Locatie</th>
      <th class="au-c-data-table__header-title">Type vestiging</th>
      <th class="au-c-data-table__header-title">Primair correspondentieadres</th>
      <th>&nbsp;</th>
    </c.header>
    <c.body as |site|>
      <td>
        <AuLink @model={{site.id}} @route="contact-data.view-site">
          {{site.address.fullAddress}}
        </AuLink>
      </td>
      <td>{{site.siteType.label}}</td>
      <td>{{if (eq site.id @model.primarySite.id) "Ja" "Neen"}}</td>
      <td>
        <AuLink @model={{site.id}} @route="contact-data.edit-site">
          Bewerk
        </AuLink>
      </td>

    </c.body>
  </t.content>
</AuDataTable>