{{page-title
  (concat
    "Contact- en Organisatiegegevens"
    (if this.showEnvironment (concat " - " this.environmentName))
  )
}}
<AuApp>
  {{#if this.showEnvironment}}
  <EnvironmentBanner
    @applicationName="Contact- en Organisatiegegevens"
    @environmentName={{this.environmentName}}
    @skin={{this.environmentInfo.skin}}
    @message='Dit is de <strong>{{this.environmentInfo.title}}</strong> van het Contact- en Organisatiegegevens met fictieve en testgegevens. De productieomgeving met de echte data vind je op <a href="https://contactgegevens.lokaalbestuur.vlaanderen.be/" title="Contact-Organisatiegegevens" rel="tag">https://contactgegevens.lokaalbestuur.vlaanderen.be</a>.'
  />
  {{/if}}
  <AppHeader />
  {{#if (eq "true" (config "announce.maintenance.enabled"))}}
    <AuAlert
      @skin="warning"
      @icon="alert-triangle"
      class="au-u-margin-bottom-none au-c-env-announcement"
    >
      <p>{{config "announce.maintenance.message"}}</p>
    </AuAlert>
  {{else if (eq "true" (config "announce.newDeployment.enabled"))}}
    <AuAlert
      @skin="warning"
      @icon="alert-triangle"
      class="au-u-margin-bottom-none au-c-env-announcement"
    >
      <p>{{config "announce.newDeployment.message"}}</p>
    </AuAlert>
  {{else if (eq "true" (config "announce.testing.enabled"))}}
    <AuAlert
      @skin="warning"
      @icon="alert-triangle"
      class="au-u-margin-bottom-none au-c-env-announcement"
    >
      <p>{{config "announce.testing.message"}}</p>
    </AuAlert>
  {{/if}}
  {{#if this.session.isAuthenticated}}
    <Shared::BreadCrumb />
  {{/if}}
  <AuMainContainer class="au-u-flex" as |m|>
    <m.content @scroll={{true}}>
      <AuBodyContainer @scroll={{true}}>
        {{outlet}}
      </AuBodyContainer>
    </m.content>
  </AuMainContainer>
</AuApp>
<AuModalContainer />
<AuToaster />