{{!-- {{log @model.formStore.graph.subjectIndex}} --}}
<div class="form">
<RdfForm
  @groupClass="rdfform"
  @form={{@model.form}}
  @graphs={{@model.graphs}}
  @sourceNode={{@model.sourceNode}}
  @formStore={{@model.formStore}}
  @show={{false}}
  @forceShowErrors={{false}}
  @useNewListingLayout={{true}}
/>
<AuButton
  @skin="primary"
  class="validatebutton"
  type="button"
  {{on "click" this.validateForm}}
>Validate</AuButton>
</div>